.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;

  .codeComment {
    color: #6c7a89;
    font-family: "Fira Code", monospace;
  }

  .highlight {
    color: var(--neon-cyan);
    font-family: "Fira Code", monospace;
    text-shadow: 0 0 5px var(--neon-cyan), 0 0 10px rgba(0, 229, 255, 0.4);
  }
}
