.interactiveBackgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    rgba(31, 5, 82, 0.7) 0%,
    transparent 60%,
    rgba(43, 181, 9, 0.7) 100%
  );
}

.backgroundCanvas {
  display: block;
  pointer-events: none;
}
